@model EntityframeworkDemo_DBFirst.Models.CustModel

@{
    ViewBag.Title = "ShowTransactions";
}

<h2>ShowTransactions</h2>
<form method="post">
    <input type="number" name="custid" id="custid" />
    <input type="submit" name="ShowHistory" value="Show" />
</form>
